.App {
  text-align: center;
  display: block;
}
.socialMedia:hover {
  color: #000;
  /* background-color: #fafafa; */
  padding-right: 10px;
  width: 60px !important;
  height: 60px !important;
}
.socialMedia {
  color: #fafafa;
  padding-right: 10px;
  width: 40px !important;
  height: 40px !important;
}

.btn {
  /* text-decoration: none; */
  color: #fafafa;
}

.btn:hover {
  color: #000;
  background-color: #fafafa;
}
